<div class="col-md-8">
 <% if logged_in? %>
   <h3>投稿タイムライン</h3>
   <div class="col-md-6 col-md-offset-3">
    <%= form_with(url: users_index_path, scope: :search, local: true) do |f| %>

      <%= f.label :genre %>
      <%= f.text_field :genre, class: 'form-control' %>

      <%= f.submit "検索", class: "btn btn-primary" %>
    <% end %>
  </div>
    <%= render 'shared/feed' %>
    <section class="stats">
        <%= render 'shared/stats' %>
      </section>
  <% else %>
  <h1>ようこそ趣味紹介サイトへ</h1>
  <p1>まずはログインしてください</p1>
<% end %>
</div>