<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @board, local: true) do |f| %>
     
      <%= hidden_field_tag :name, @current_user.name %>

      <%= f.label :content %>
      <%= f.email_field :content %>

      <%= f.submit "投稿", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<li id="micropost-<%= @post.id %>">
  <div><span class="user">名前 <%= link_to @post.user.name, @post.user %></span></div>
  <div><span class="content">ジャンル <%= @post.genre %></span></div>
  <div><span class="content">タイトル <%= @post.title %></span></div>
  <div><span class="content">内容 <%= @post.content %></span></div>
  <div><span class="timestamp">
    Posted <%= time_ago_in_words(@post.created_at) %> ago.
  </span></div>
</li>

